nav{
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(14, 14, 14);
  color: rgb(255, 255, 255);
  padding: 0px 30px;
  
}

.not-found-text{
  display: flex;
  justify-content:flex-end;
  padding-right: 50px;
}


.navbar-img{
  width: 160px;
}



.favorites{
  display: flex;
  /* padding-left: 1000px; */
}