/* *{
    text-transform: capitalize;
} */

.pokecard{
  display:flex;
  box-shadow: 4px 4px 4px (0,0,0,0.25);
  border-radius: 4px;
  /* background:#e99f9f; */
    padding: 60px;
    background: rgba(207, 207, 207, 0.35);
    box-shadow: 0 2px 2px 0 rgb(0, 0, 0);
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.048);
    cursor: pointer;
    position: relative;

    /* transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s; */
}
.pokecard:hover{
  top:-2px;box-shadow:0 4px 4px rgb(0, 0, 0);
  transform:scale(1);
  
}

.pokeimg{
  width:140px;
  height: 140px;
  margin-right: 10px;
}

.poke-name{
  font-size: 25px;
}

.poke-status{
  display: grid;
  flex-direction: row;
  gap:5px;
}

.pokeimg-container{
  padding:0 5px;
}

.card-body{
  /* background:#e99f9f; */
  display: flex;
  flex-direction:column;
  justify-content:space-between;
  padding: 10px 10px 10px 0px;
  flex: 1;
}
.card-top{
  /* background:#8df5b8; */
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items: center;
}

.card-top h3{
text-transform: capitalize;
}
.card-bottom{
  /* background:#b7b0f7; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
}

.pokemon-heart-btn{
  padding: 2px;
  /* height: 40px; */
  width: 25px;
  /* background-color: Transparent; */
  background-repeat:no-repeat;
  /* border: none; */
  cursor:pointer;
  overflow: hidden;
  color: rgb(173, 10, 10); 
}


.pokemon-types{
  display: flex;
  gap: 10px;
  justify-content:center;
}

.pokemon-type-text{
  text-transform: capitalize;
  text-align: center;
  text-justify: center;
  border: none;
  border-radius: 5px;
  color: white;
  width:70px;
  height:30px;
  /* padding: 4px 8px; */
  cursor: pointer; 
  font-size: 20px;
  /* background-color: #91ff00; */
}

.bug { background-color: rgb(38, 236, 38) }
.dark { background-color: rgb(51, 51, 51) }
.dragon { background-color: rgb(13, 126, 126) }
.electric { background-color: rgb(255, 208, 0) }
.fairy { background-color: rgb(197, 93, 201) }
.fighting { background-color: rgb(134, 9, 9) }
.fire { background-color: rgb(238, 115, 0) }
.flying { background-color: rgb(125, 159, 175) }
.ghost { background-color: rgb(81, 19, 100) }
.grass { background-color: rgb(12, 109, 56) }
.ground { background-color: rgb(116, 88, 14) }
.ice { background-color: rgb(80, 222, 247) }
.normal { background-color: gray }
.poison { background-color: rgb(179, 25, 179) }
.psychic { background-color: rgb(235, 13, 161) }
.rock { background-color: rgb(250, 177, 42) }
.stell { background-color: rgb(37, 66, 73) }
.water { background-color: rgb(11, 86, 148) }

.pokemon-id{
  font-size: 25px;
}